.videoSection {
  text-align: center;
  padding: 3rem 0;

}

.videoTitle {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}


.videoWrapper {
  position: relative;
  overflow: hidden;
  width: 1000px;;
  height: 600px;;
  max-width: 100%;
  max-height: 60%;
  background: #000;
  margin: 2rem auto;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
